sensors:
#  <sensor name>:
#    <key1>: <value1>
#    ...
#    <keyn>: <valuen>
topics:
#  - name: <topic name>
#    sensor: <sensor name>
#    driver: <driver class>
#    connection: <connection string>